.state-screen {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: var(--secondary500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary), sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.2px;
  text-align: center;
  background-color: var(--background);

  .state-screen-content {
    max-width: 314px;
  }

  .icon {
    margin-bottom: 20px;
  }
}

.state-screen-sub-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
