.search-results {
  --icon-width: 34px;
  margin: 30px 0;
  padding: 0;

  button.return {
    color: var(--neutral500);
    font-style: italic;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;

    &:hover {
      color: var(--primary);
    }

    svg {
      color: var(--primary);
      margin-right: 20px;
    }
  }
}

.search-results-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search-result-item {
  width: 100%;
  margin-left: 0;
  padding: 17px 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  &:hover {
    .help-list-icon,
    .title {
      color: var(--primary);
    }
  }

  .search-result-text {
    width: calc(100% - var(--icon-width));
  }

  .icon {
    display: inline-block;
    width: var(--icon-width);
    color: var(--secondary500);
    flex-shrink: 0;
  }

  .title {
    display: inline-block;
    color: var(--neutral900);
    font-weight: 500;
    font-size: 15px;
    vertical-align: bottom;
  }

  .knowledge-base-type {
    display: inline-block;
    color: var(--secondary500);
    font-weight: 100;
    font-size: 12px;
  }

  .description {
    font-size: 13px;
    line-height: 1.6;
    color: var(--neutral500);
    padding-top: 4px;
  }

  .url {
    color: var(--secondary500);
    font-weight: 100;
    font-size: 13px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: var(--secondary100);
  }
}
