.search-results {
  list-style-type: none;
  margin: 30px 0;
  padding: 0;

  .return {
    color: var(--neutral500);
    font-style: italic;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: center;

    &:hover {
      color: var(--primary);
    }

    svg {
      color: var(--primary);
      margin-right: 20px;
    }
  }
}

.search-result-item {
  width: 100%;
  margin-left: 0;
  padding: 17px 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  &:hover {
    .help-list-icon,
    .title {
      color: var(--primary);
    }
  }

  .icon {
    display: inline-block;
    margin-right: 17px;
    color: var(--secondary500);
    flex-shrink: 0;
  }

  .title {
    color: var(--neutral900);
    font-weight: 500;
    font-size: 15px;
    vertical-align: bottom;
  }

  .knowledge-base-type {
    display: inline-block;
    color: var(--secondary500);
    font-weight: 100;
    white-space: nowrap;
    margin-left: 16px;
    font-size: 12px;
  }

  .description {
    font-size: 13px;
    line-height: 1.6;
    color: var(--neutral500);
    padding-top: 4px;
  }

  .url {
    color: var(--secondary500);
    font-weight: 100;
    font-size: 13px;
  }

  &:hover {
    background-color: var(--secondary100);
  }
}
