.tabs {
  position: relative;

  ul.tabs-list {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0 30px;
    background-color: var(--secondary100);
    border-top: 1px solid var(--border500);
    border-bottom: 1px solid var(--border500);
    list-style-type: none;
    font-size: 16px;
    display: flex;

    li.tab {
      height: 100%;
      line-height: 80px;
      margin-right: 56px;
      padding-right: 2px;
      cursor: pointer;
      color: var(--secondary500);
      font-family: var(--font-secondary), sans-serif;
      display: inline-flex;
      align-items: center;
      transition: all 250ms ease;
      min-width: 0;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: var(--primary);
      }

      &:hover {
        margin-top: -2px;
        color: var(--primary);
      }

      svg {
        margin-right: 11px;
        flex-shrink: 0;
      }

      .tab-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .tabs-underline {
    height: 3px;
    background-color: var(--primary);
    width: var(--underline-width);
    position: absolute;
    left: var(--underline-left);
    bottom: -1px;
    transition: all 200ms cubic-bezier(0.68, -0.2, 0.265, 1.2);
  }
}
