* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--neutral900);
}

html {
  --appWrapperWidth: 1200px;
  --screenMaxWidth: 900px;
  --screenMaxHeight: 580px;
  --sidebarWidth: 250px;
  --sidebarGap: 20px;
  --webAppHeight: 610px;
  --scrolledContentMaxWidth: calc(var(--screenMaxWidth) - 15px);
  --quizMaxSize: 500px;
  --desktopBreak: 800;

  // background color of the app
  --white: #fff;
  --scrollBarBG: #d1d7da;
  --elementShadow: 0 2px 1px rgba(0, 0, 0, 0.05);

  // should match logo color, used for hovered and active icons, progress bar,
  // active tab, active tab underline, when search input is focused
  --primary: #348bd8;
  --primaryHover: #00aaff;

  // used as category background when hovered and unfilled progress bar background
  --primary100: #f4fafd;

  // used for back button
  --primary300: #9dd8f5;

  // used in unfocused icons, screen headlines, search input text
  --secondary500: #aac4d1;

  // background of search input and tabs panel
  --secondary100: #f9fbfc;

  // used in titles, main text content
  --neutral900: #424242;

  // regular text color, item descriptions, crossed off tasks
  --neutral500: #8d8d8d;
  --neutral300: #97adb8;
  --neutral200: #b3b3b3;

  // a small dot next to notifications icon
  --warning: #ffc341;

  // for checked icon
  --success: #a6e41f;

  // tab panel top and bottom border
  --border500: rgba(170, 196, 209, 0.3);

  --iconBGLight: #adc4d2;

  // used for borders that seperate categories from other items
  --border100: rgba(170, 196, 209, 0.2);
  // used for dropdown
  --borderLightGray: #e1e6e9;

  // logo
  --logoPath: url('./images/logo.svg');
  --logoWidth: 76px;
  --logoHeight: 74px;
}
