.task-list {
  list-style-type: none;
  margin: 30px 0;
  padding: 0;

  .task-item {
    width: 100%;
    margin-left: 0;
    padding: 17px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    background-image: url('../../images/taskRectangle.svg');
    background-repeat: no-repeat;
    background-position: 30px 50%;

    &.is-completed {
      background-image: url('../../images/taskDone.svg');
    }

    &.is-crossed-off {
      text-decoration: line-through;
    }

    &.is-disabled {
      color: var(--neutral500);
    }

    &:hover {
      background-color: var(--secondary100);
    }

    &:hover:not(.is-disabled) {
      color: var(--primary);
    }

    .title {
      font-size: 14px;
      vertical-align: center;
    }
  }

  .task-group {
    background-image: none;

    &.is-expanded {
      background-color: red;
    }

    .group-title {
      background-image: url('../../images/taskGroupArrow.svg');
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
  }

  .task-group {
    border-top: solid 1px var(--border100);

    &.last-of-type {
      border-bottom: solid 1px var(--border100);
    }

    .task-group-title {
      font-size: 16px;
      font-family: var(--font-primary);
      font-weight: 500;
      padding: 20px 30px;
      cursor: pointer;

      &:hover {
        color: var(--primary);
        background-color: var(--secondary100);

        .task-group-icon {
          color: var(--primary);
        }
      }

      .task-group-icon {
        display: inline-block;
        margin-right: 17px;
        color: var(--secondary500);
        transition: all 200ms ease;

        &.is-open {
          transform: rotate(90deg);
        }
      }
    }

    ul {
      padding-left: 0;

      li {
        padding-left: 80px;
        background-position: 50px 50%;
      }
    }
  }
}
